/* Change default font */
:root {
    --encore-body-font-stack: "CaskaydiaCove Nerd Font Propo";
}

body.encore-dark-theme.encore-layout-themes {
    --background-base: #0a0a0d !important;
    --text-bright-accent: #acb0d0 !important;
    --essential-bright-accent: #acb0d0 !important;
}

.encore-dark-theme .encore-bright-accent-set {
    --background-base: #787c99 !important;
    --background-highlight: #acb0d0 !important;
    --background-press: #787d99 !important;
    --background-elevated-base: #acb0d0 !important;
    --background-elevated-highlight: #acb0d0 !important;
    --background-elevated-press: #acb0d0 !important;
    --background-tinted-base: #acb0d0 !important;
    --background-tinted-highlight: #acb0d0 !important;
    --background-tinted-press: #acb0d0 !important;
}

div[data-testid="progress-bar"] {
    --is-active-fg-color: #acb0d0 !important;
}

/* Remove weird window control padding from left */
#global-nav-bar .main-globalNav-historyButtonsContainer .Kgjmt7IX5samBYUpbkBu,
#global-nav-bar .OPsY6bKl1_FfA8jFpq1V {
    display: none !important;
}

/* Hide spicetify update button */
#global-nav-bar .main-globalNav-historyButtons
button[aria-label="Update Spicetify"][title="Update Spicetify"] {
    display: none;
}

/* Set transparent background but not setting it transparent on hover */
div.YourLibraryX 
button.main-useDropTarget-base:not(:hover) {
    background: transparent;
}

/* Remove annoying big "Create" span inside of the library bar */
div.YourLibraryX 
button[aria-label="Create"] > span.e-91000-text {
    display: none !important;
}

/* Remove paddings left for better view with "Create" label */
div.YourLibraryX 
button.main-useDropTarget-base {
    padding: 0;
}

article.TlMFkwANLJrFHUsnTOQf {
    display: none !important;
}

div.YourLibraryX 
button.CjGVphOR96me80esGFpV {
    background-color: var(--background-elevated-base) !important;
}

/* Margin there was to small */
.contentSpacing > section.Y89c1_2SAoZFkICK7WVp {
    margin-bottom: 8px !important;
    margin-top: 18px !important;
}

/* Make mini equalizers match colors*/
img.H70qcBekoGWOlskuON5R,
img.X_HqPouENflGygaUXNus {
    filter: invert(85%) sepia(2%) saturate(50%) hue-rotate(290deg) brightness(98%) contrast(92%);
}

div.Y6soMMBElF7EQDbJv8Xb
button[aria-pressed="true"]
svg[data-encore-id="icon"] {
    fill: #acb0d0 !important;
}

div.Y6soMMBElF7EQDbJv8Xb
button[data-encore-id="buttonTertiary"]::after {
    background-color: #acb0d0 !important;
}