@import "colors.css";

* {
    font-family: 'JetBrainsMono Nerd Font';
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

#waybar {
    font-weight: 600;
    background: transparent;
    font-size: 13px;
    border-radius: 14px;
    color:@fg;
}

#clock {
    padding: 3px 18px;
    border-radius: 15px;
    background: @fg;
}
